body {
    margin: 0;
    padding: 10px;
    font-family: Verdana;
}

.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

.light-border {
    border-radius: 2px;
    border: 1px solid #001c67;
    padding: 1em;
    box-sizing: border-box;
}

input, button, select {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

button{
    background-color: #969696;
    color: #000000;
}

.form-wrapper {
    width: 33%;
    margin: 10px;
}

.forms {
    display: flex;
    flex-wrap: wrap;
}