.flex-container {
    height: 600px;
}

#singleItem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 700px;
}

#singleItem div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    border: 1px solid black;
    width: 25%;
    height: 25%;
}