.flex-container {
    height: 600px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

#search {
    background-color: white;
    background-image: url("../searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 26px;
    padding: 12px 30px 12px 40px;
}

.page-header{
    position: fixed;
    color: black;
    background-color: lightgray;
    width: 100%;
    line-height: 5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.page-header h1{
    margin: 0 1rem;
}
.page-header ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.page-header li{
    padding: 0 1rem;
}
.page-header a{
    text-decoration: none;
    color: black;
}

.newText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 26px;
}

.new-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
}

.new-items p {
    font-size: 26px;
}