.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #a4a4a4;
    padding: 1em;
    box-sizing: border-box;
    margin: 1px;
}


.forms {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    width: 33%;
}

input, button, select {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}


button{
    background-color: #ccc;
}

