.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

.forms {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    width: 33%;
}

input, button, select {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}


button{
    background-color: #ccc;
}

