.flex-container {
    height: 600px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

input {
    width: 100%;
}

#search {
    background-color: white;
    background-image: url("../../searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 26px;
    padding: 12px 30px 12px 40px;
}


.newText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 26px;
}

#new-item div {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    border: 1px solid black;
    width: 25%;
    height: 25%;
}

#new-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ad_type label {
    font-size: 26px;
}

#ad_type {
    display: flex;
    justify-content: flex-start;
}

p {
    height: 100px;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
}