.flex-container {
    height: 600px;
}

#new-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#new-item div {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    border: 1px solid black;
    width: 25%;
    height: 25%;
}

#searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    font-size: 26px;
}

#searchPageS {
    background-color: white;
    background-image: url("../../searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 26px;
    padding: 12px 30px 12px 40px;
}

.search-boxS {
    display: flex;
    flex-direction: row;
}

#searchCategories {
    display: block;
}

#ad_buy, #ad_sell {
    width: 17px;
    height: 17px;
}

body {
    background-color: #d2eeff;
    padding-left: 165px;
    padding-right: 165px;
}