.flex-container {
    height: 600px;
}

#singleItem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#singleItem div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    border: 1px solid black;
    width: 50%;
    height: 25%;
}

#new-item div {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    border: 1px solid black;
    width: 50%;
    height: 25%;
}

#new-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

#ad_type label {
    font-size: 26px;
}

#ad_type {
    display: flex;
    justify-content: flex-start;
}

h1{
    margin: 0 1rem;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
li{
    padding: 0 1rem;
}

a{
    text-decoration: none;
    color: black;
}

#new-item label {
    width: auto;
    background: #b8b8b8;
}

#new-item a {
    background: #e0e0e0;
}